.app{
    
    padding-top: 100px;
    
}

.bookmarks{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin:0 auto;
    max-width: 1200px;
    .child-bookmark{
        display: block;
        width: 200px;
        height: 200px;
        min-height: 200px;
    }
}