/* You can add global styles to this file, and also import other style files */
:root{
  --background : rgb(11, 0, 51);
  --background-primary : rgba(132, 0, 255, 0.356);
  --background-secondary : rgba(9, 0, 48, 0.418);
}


body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
